<h1>Rails ATM</h1>
<p>Enter amounts for deposit or withdrawl, or request your balance:</p>
<table>
	<thead>
		<tr>
			<td>Deposits</td>
			<td>Withdrawls</td>
			<td>Check Balance</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<%= form_tag do %>
				<%= label_tag(:d_amount, "Deposit Amount") %>
				<%= text_field_tag(:d_amount) %>
				<%= hidden_field_tag(:atmaction, value = "deposit", options = {}) %>
				<%= submit_tag("Deposit") %>
				<% end %>
			</td>
			<td>
				<%= form_tag atm_home_path do %>
				<%= label_tag(:w_amount, "Withdrawal Amount") %>
				<%= text_field_tag(:w_amount) %>
				<%= hidden_field_tag(:atmaction, value = "withdraw", options = {}) %>
				<%= submit_tag("Withdraw") %>
				<% end %>
			</td>
			<td>
				<%= form_tag do %>
				<%= label_tag(:placeholder, "Click below to see your balance") %>
				<%= text_field_tag(:placeholder, value = "", options = {:disabled => true}) %>
				<%= hidden_field_tag(:atmaction, value = "balance", options = {}) %>
				<%= submit_tag("Check Balance") %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td><%= RailsATM::Application.config.message %></td>
		</tr>
	</tbody>
</table>
