<table>
	<tbody>
		<tr>
			<th>name</th>
			<th>height</th>
			<th>mass</th>
			<th>birth year</th>
			<th>hair color</th>
			<th>skin color</th>
			<th>eye color</th>
			<th>gender</th>
			<th>homeworld</th>
			<th>films</th>
			<th>species</th>
			<th>starships</th>
			<th>vehicles</th>

		</tr>
		<% @results.each do |person| %>
		<tr>
			<td><%= person["name"] %></td>
			<td><%= person["height"] %></td>
			<td><%= person["mass"] %></td>
			<td><%= person["birth_year"] %></td>
			<td><%= person["hair_color"] %></td>
			<td><%= person["skin_color"] %></td>
			<td><%= person["eye_color"] %></td>
			<td><%= person["gender"] %></td>
			<td><%= person["homeworld"] %></td>
			<td><%= person["films"] %></td>
			<td><%= person["species"] %></td>
			<td><%= person["starships"] %></td>
			<td><%= person["vehicles"] %></td>
		</tr>
	<% end %>
	</tbody>
</table>