<table>
	<tbody>
		<tr>
			<th>name</th>
			<th>classification</th>
			<th>designation</th>
			<th>average height</th>
			<th>average lifespan</th>
			<th>eye colors</th>
			<th>hair colors</th>
			<th>skin colors</th>
			<th>language</th>
			<th>homeworld</th>
			<th>people</th>
			<th>films</th>
		</tr>
		<% @results.each do |species| %>
		<tr>
			<td><%= species["name"] %></td>
			<td><%= species["classification"] %></td>
			<td><%= species["designation"] %></td>
			<td><%= species["average_height"] %></td>
			<td><%= species["average_lifespan"] %></td>
			<td><%= species["eye_colors"] %></td>
			<td><%= species["hair_colors"] %></td>
			<td><%= species["skin_colors"] %></td>
			<td><%= species["language"] %></td>
			<td><%= species["homeworld"] %></td>
			<td><%= species["people"] %></td>
			<td><%= species["films"] %></td>
		</tr>
	<% end %>
	</tbody>
</table>