<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @genre.name %>
</p>

<p>
		<strong>Actors in this Genre:</strong>
		<ul>
			<% @genre.actors.each do |actor| %>
			<li><%= actor.name %></li>
		</ul>
		<% end %>
</p>

<p>
		<strong>Movies in this Genre:</strong>
		<ul>
			<% @genre.movies.each do |movie| %>
			<li><%= movie.name %></li>
		</ul>
		<% end %>
</p>

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
