<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Student Information</h3>
</div>
<div class="panel-body">
  <div>
<%= form_for(@enrollment) do |f| %>
  <% if @enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
      <% @enrollment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :grade %><br>
    <%= f.text_field :grade %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.collection_select :student_id, @students, :id, :last_name %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.collection_select :course_id, @courses, :id, :title %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
    <br>
  </div>
  <% end %>
  </div>
</div>

