<p id="notice"><%= notice %></p>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Enrollment Details</h3>
</div>
<div class="panel-body">
	<div>
		<dl class="dl-horizontal">
		<dt>Grade</dt>
		<dd><%= @enrollment.grade %></dd>
		<dt>Student</dt>
		<dd><%= @enrollment.student.first_name %>
  <%= @enrollment.student.last_name %></dd>
  		<dt>Course</dt>
		<dd><%= @enrollment.course.title %></dd>
		</dl>
	</div>
</div>
<div class="panel-footer">
<%= link_to 'Edit', edit_enrollment_path(@enrollment),:class => "btn-primary btn-sm" %>
<%= link_to 'Back', enrollments_path,:class => "btn-primary btn-sm" %>
</div>